body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: pink;
  font-family: Arial;
}

.container {
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #fff;
}

.buttons {
  margin-top: 30px;
  position: relative;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#yes {
  background: green;
  color: white;
  margin-right: 20px;
}

#no {
  background: red;
  color: white;
  position: absolute;
}
